<div [class.dark-mode]="state.themeMode() === 'dark'" [class.light-mode]="state.themeMode() === 'light'">
  <app-navbar-component></app-navbar-component>

  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>

  <!-- Clouds only for light mode -->
  <div *ngIf="state.themeMode() === 'light'">
    <div class="cloud" style="top: 10%; width: 180px; height: 80px;"></div>
    <div class="cloud" style="top: 30%; width: 130px; height: 60px; animation-duration: 80s;"></div>
    <div class="cloud" style="top: 50%; width: 210px; height: 90px; animation-duration: 50s;"></div>
  </div>

  <!-- Shooting stars for dark mode -->
  <div *ngIf="state.themeMode() === 'dark'" class="shooting-stars-container">
  <div class="shooting-star" *ngFor="let star of shootingStars"
       [style.top.%]="star.top"
       [style.left.%]="star.left">
  </div>
</div>

</div>